*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(167, 216, 247);
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

#form-extraBtns {
    padding: 10px;
    margin-left: 50px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 25px;
    font-weight: bold;
}

#input-city {
    margin-top: 5px;
    height: 25px;
    width: 150px;
}

#search-btn {
    height: 30px;
    width: 30px;
    background-color: blue;
    color: white;
    border: thin;
    border-radius: 5px;
}

.btn {
    width: 190px;
    height: 25px;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#five-day {
    margin-top: 30px;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.forecast-day {
    display: inline-block;
    background-color: blue;
    color: white;
    border: thin;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}

#weather-display {
    margin-right: 100px;
}

.favorable {
    background-color: green;
    display: inline-block;
}

.moderate {
    background-color: yellow;
    display: inline-block;
}

.severe {
    background-color: red;
    display: inline-block;
}